.post {
  background: #202024;
  border-radius: 8px;
  padding: 2.5rem;
}

.post+.post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: #E1E1E6;
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: #F1CD15;
  text-decoration: none;
}

.content a:hover {
  font-weight: bold;
  color: #ffed89;
  text-decoration: none;
}



.post header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post header time {
  font-size: 0.875rem;
  color: #8D8D99;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.authorInfo strong {
  display: block;
  color: white;
  line-height: 1.6rem;
}

.authorInfo span {
  display: block;
  font-size: 0.875rem;
  color: rgb(221, 221, 221);
}



.avatar {
  width: 3.125rem;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 0.0625rem solid #323238;
}

.commentForm>strong {
  line-height: 1.6;
  color: #E1E1E6;
}

.commentForm textarea {
  width: 100%;
  height: 6rem;
  border: 0;
  border-radius: 8px;
  background: #121214;
  padding: 1rem;
  color: #C4C4CC;
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}


.commentForm button[type="submit"] {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 0;
  background: #F1CD15;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.1s;
}

.commentForm button:hover {
  background: #ffeb85;
}

.commentList {
  margin-top: 2rem;
}